/* Ép thẻ html, body và #root chiếm 100% màn hình và hiển thị dạng block */
html, body, #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: block !important; /* Đánh bại display: flex mặc định của Vite */
    background-color: #ffffff !important; /* Đổi nền xám đen thành nền trắng */
}

/* Reset lại margin, padding cho tất cả các thẻ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}